*config.py
*.ipynb_checkpoints
**/data
lecture_notes
# Week_1/Day_3/config.py
# Week_1/Day_3/API_challenge/config.py
# Week_1/Day_4/mini-project-I/config.py
# Week_1/Day_6/SQL_exercise/config.py
# Week_2/Day_3/Other_data_types_exercise/config.py
# Week_2/Day_4/mini-project-II/config.py
# Week_2/Day_4/mini-project-II/config.py
# Week_5/Day_2/logistic_regression_exercise/Smartphone Sensor Data/data/X_train.txt
# Week_5/Day_4/svm_naive_bayes_exercise/creditcard.csv